/* style.css */
form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 6px;
}

input[type="submit"] {
  background-color: #2e2366;
  color: rgb(201, 199, 199);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #262672;
}
